<form [formGroup]=profileform (ngSubmit)="user()">


    <div class="form_feilds lbl">
        <div class="form_grup">
          
          
        
        <div class="form_grup">
          <mat-form-field appearance="fill">
            <label>Name:</label>
            <input matInput type="text" placeholder="Enter your name" class="form_control"
              formControlName="name" restrictSpace>
          </mat-form-field>
          <mat-error *ngIf="
                  submitted &&
                  profileform.controls['name'].hasError('required')
                  ">Name is required.</mat-error>
        </div>
        <div class="form_grup">
          <mat-form-field appearance="fill">
            <label>Email:</label>
            <input matInput type="" placeholder="pat@example.com" class="form_control"
              formControlName="email" restrictSpace>
          </mat-form-field>
          <mat-error *ngIf="
                  submitted &&
                  profileform.controls['email'].hasError('required')
                  ">Email is required.</mat-error>
        </div>
        <div class="form_grup">
          <mat-form-field appearance="fill">
            <label>Phone:</label>
            <input matInput type="number" placeholder="Enter your phone number" class="form_control"
              formControlName="phone" restrictSpace>
          </mat-form-field>
          <mat-error *ngIf="
                  submitted &&
                  profileform.controls['phone'].hasError('required')
                  ">Phone is required.</mat-error>
        </div>

        <div class="form_grup">
            <mat-form-field appearance="fill">
              <label>DOB:</label>
              <mat-date-range-input
    [formGroup]="profileform"
    [rangePicker]="picker">
    
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">   
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>
            
            <mat-error *ngIf="
                    submitted &&
                    profileform.controls['dob'].hasError('required')
                    ">DOB is required.</mat-error>
          </div>

          <div class="form_grup">
            <mat-form-field appearance="fill">
              <label>countryCode:</label>
              <input  matInput formControlName="countrycode"(countryChange)="true" 
     ng2TelInput   placeholder="select country code">
                
                
                


            </mat-form-field>

            <mat-error *ngIf="
                    submitted &&
                    profileform.controls['countryCode'].hasError('required')
                    ">countryCode is required.</mat-error>

         


      </div>

          <div class="form_grup">
            <mat-form-field appearance="fill">
              <label>Address:</label>
              <input matInput type="text" placeholder="Enter your address" class="form_control"
                formControlName="address" restrictSpace>
            </mat-form-field>
            <mat-error *ngIf="
                    submitted &&
                    profileform.controls['address'].hasError('required')
                    ">Address is required.</mat-error>

         


      </div>

      <button type="submit" class="btn btn-primary">Submit</button>


    

  