<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>  
  </mat-card-header>
  <mat-card-actions>
    <button mat-button style=
            "background-color:blueviolet; 
             color:white"
routerLink="list"> 
        Table
    </button>
    <button mat-button style=
            "background-color:darkgreen; 
             color:white"
             routerLink="user">
         Addusers
    </button>
    <!-- <button mat-button style=
            "background-color:brown; 
             color:white"
             routerLink="moreuser">
         Page 
    </button> -->
</mat-card-actions>
</mat-card>
