
<div> <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>

</mat-form-field>
</div>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="countryCode">
        <mat-header-cell *matHeaderCellDef> CountryCode </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.countryCode}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef >
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
        
            title="Edit"
           (click)="editid(element.id)"
            aria-hidden="true"
          >Edit</button>
          <button mat-raised-button color="warn"
          (click)="delete(element.id)"
            
            aria-hidden="true"
          
          >Del</button>
          
          <button mat-raised-button color="warn"
           
            title="View"
           
            aria-hidden="true"
          >View</button>
        </mat-cell>
      </ng-container>


  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
